@import '../../assets/styles/abstracts/variables';
.notification {
    width: 250px;
    background: $black;
    padding: 10px 20px;
    border-radius: 4px;
    position: fixed;
    top: 50px;
    right: 0;
}

.notification--Success {
    border-left: 1px solid $green;
    animation: notify .5s ease-in-out;  
}

.notification--Failed {
    border-left: 1px solid tomato;
    right: -100%;
    animation: notifyFiled 3s linear;  

}


.notification__title--Failed {
    font-size: 18px;
    color: tomato;
}
.notification__title--Success {
    font-size: 18px;
    color: $green;
}

.notification__description {
    font-size: 14px;
    color: $blackTitle;
}


@keyframes notify {
    from {
        right: -100%;
    }
}


@keyframes notifyFiled {
    0% {
        right: -100%;
    }
    30% {
        right: 0%;                
    }
    50% {
        right: 0;
    }
    60% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}