@import '../abstracts/variables';
.btn {
    display: inline-block;
    border: none;
    width: fit-content;
    color: $grayLight;
    background: linear-gradient(to right, $green, $blue);
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 40px;
    box-shadow: 0 6px 4px 1px rgba(#000, .2);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.btn-remove {
  display: block;
  border: none;
  background: none;
  color: rgba(tomato, .3);
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.btn-remove:hover {
  color: rgba(tomato, .7);
  text-decoration: underline;
}
.btn-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  button {
    margin-right: 20px;
  }
}

.btn-stats__new {
    margin-left: auto;
    margin-right: 20px;
    background: linear-gradient(to right, $blue, $green);
}

.btn:hover {
    transform: translateY(1px);
    box-shadow: 0 4px 2px 0px rgba(#000, .3);
}


@media screen and (max-width: 420px) {
    .btn-stats__new {
        background: linear-gradient(to bottom, $blue, $green);
        margin: 0;
        margin: 10px;
    }
    .btn-stats__history {
        background: linear-gradient(to bottom, $green, $blue)
    }
}


