@import '../abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $blackLight;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

*::selection {
    background: $green;
    color: $grayLight;
}
button::selection {
    background: transparent;
    color: $grayLight;
}

.svg {
    cursor: pointer;
}

.contain-btn__init-simulation {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}