@import '../abstracts/variables.scss';

.input-data__content {
    display: flex;
    flex-direction: column;
    position: relative;
}


.input-data__content__input {
    background: transparent;
    outline: none;
    border: none;
    order: 2;
    color: $blackText;
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: 1px solid $blackTitle;
}
.input-data__content__label {
    color: $blackText;
    font-size: 13px;
    order: 1;
    position: relative;
    bottom: -3px;
    left: 0;
    transition: all .3s ease-in-out;
}


.input-data__content__input:valid {
    border-color: $blackTitle;

}
.input-data__content__input:focus {
    border-color: $green;
}


.input-data__content__input:valid ~ .input-data__content__label {
    bottom: 3px;
    color: $blackText;
}
.input-data__content__input:focus ~ .input-data__content__label {
    bottom: 3px;
    color: $green;
}

.input-data__medition {
    user-select: none;
    display: block;
    padding-left: 20px;
    background: $black;
    color: $blackTitle;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0 -50%);
}

.input-data__required {
    user-select: none;
    position: absolute;
    left: -10px;
    bottom: 0px;
    color: rgb(156, 75, 61);
}

