@import '../../assets/styles/abstracts/variables';


.btn-link {
    border: none;
    background: transparent;
    margin-right: 20px;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
}
// Header
.form__header {
    padding: 20px;
}
.form__header__title {
    color: $blackText;
    margin-bottom: 10px;
}

.form__header__content {
    background: $black;
    padding: 20px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.simulation__exist {
    padding: 20px;
    color: $green;
    font-size: 16px;
}


// water
.question-water {
    display: inline-block;
    font-size: 16px;
    color: $blackTitle;
    margin-bottom: 5px;
}
.paragraph-water {
    font-size: 14px;
    color: $blackText;
    text-align: justify;
}
@media screen and (min-width: 630px) {
    .form__header__content {
        grid-template-columns: repeat(auto-fill, 250px);
    }
}
