@import '../../assets/styles/abstracts/variables';
.navigation-mobile {
    height: 50px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}
.top__loading {
    height: 50px;
    width: 100%;
    background: rgba(#000, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200;
}
.top__loading svg {
    fill: $blackTitle;
}

.navigation-mobile__header {
    width: 100%;
    background: $black;
    padding: 5px 25px;
    box-shadow: 0 2px 2px 0 rgba(#000, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

// svg show hidden
.show-hidden {
    transition: all ease-in-out .3s;
}
.show {
    transform: rotateX(180deg);
}

// progress bar
.progress-bar__data {
    font-size: 14px;
    color: $grayMedium;
}

.progress-bar__data span {
    color: $blackTitle;
    margin: 0 5px;
    font-weight: bold;
}

.progress-bar__placeholder {
    width: 180px;
    height: 4px;
    background: rgba($grayLight, .5);
    border-radius: 4px;
    overflow: hidden;
}
.progress-bar {
    background: linear-gradient(to right, $blue, $green);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 2px 0 2px 0 rgba(#000, .2);
}
.progress__bar--animate {
    animation: progressBar 10s ease-in-out;  
}


// Ul
.navigation-mobile__list {
    background: $black;
    height: auto;
    width: 100%;
    padding-bottom: 30px;
    border-top: solid 1px rgba($grayLight, .1);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: fixed;
    top: -270px;
    left: 0;
    z-index: 80;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.navigation-mobile--enable {
    width: 100%;
    height: 100%;
    background: red;
    z-index: 1000;
}
.navigation-mobile__list::before {
    content: '';
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, $blue, $green);
    position: absolute;
    bottom: 0;
    left: 0;
}

.navigation-mobile__list--active {
    top: 50px;
}

.navigation__link {
    display: flex;
    align-items: center;
    color: $grayMedium;
    padding: 15px 0;
    position: relative;
}

.navigation__link:hover {
    color: $green;
}
.navigation__link:hover .navigation__link-svg span svg {
    fill: $green;
}

.navigation__link--active {
    color: $green;
}
.navigation__link--active .navigation__link-svg span svg {
    fill: $green;
}
.navigation__link--active::before {
    content: '';
    background: transparent;
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navigation__link--active::before {
    background: linear-gradient(to top, $blue, $green);
    animation: activeBar .3s ease-in-out;  
}


.navigation-mobile__item:last-child {
    text-align: center;
}
.navigation__link-svg {
    width: 20px;
    color: $blackTitle;
    display: inline-block;
    margin: 0 15px;
}
.navigation__link-svg span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation__link-svg span svg {
    width: 20px;
    fill: $blackTitle;
}


.email-user {
    display: block;
    font-size: 14px;
    color: $grayBlack;
}

.email-user__nav {
    display: none;
    margin-right: 20px;
}
.email-user__list {
    display: block;
    padding: 10px 20px;
    text-align: right;
}


@keyframes activeBar {
    from {
        height: 0;
    }
}

@keyframes progressBar {
    from {
        width: 0;
    }
}

@media screen and (min-width: 480px) {
    .progress-bar__container {
        margin-right: auto;
        margin-left: 50px;
    }
    .progress-bar__placeholder {
        width: 220px;
    }
}

@media screen and (min-width: 680px) {
    .progress-bar__placeholder {
        width: 280px;
    }
    .email-user__nav {
        display: block;
    }
    .email-user__list {
        display: none;
    }
}


