@import '../../assets/styles/abstracts/variables';
.home {
    padding: 0 20px;
    margin-bottom: 50px;
}
.home__content {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
}

.home__title {
    color: $blackTitle;
    font-size: 20px;
    margin-bottom: 20px;
}

.container__plant:nth-child(2n) {
    display: none;
}
.container__plant {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__plant svg {
    height: 85px;
}

@media screen and (min-width: 720px) {
    .home__content {
        grid-template-columns: repeat(auto-fill, 220px);
    }
    .container__plant:nth-child(3n) {
        display: block;
    }
    .container__plant svg {
        height: 110px;
    }
}


@media screen and (min-width: 920px) {

    .container__plant:nth-child(2n) {
        display: block;
    }
    .container__plant svg {
        height: 100px;
    }
}