@import '../../assets/styles/abstracts/variables';

.simulationEmpty {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  p {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
.stats__header__links {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.loading {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading__msg {
    color:  $green;
    font-size: 25px;
}

//Info block
.info-block {
    background: $black;
    padding: 20px;
    border-radius: 4px;
}

.info-block__title {
    color: $blackTitle;
    font-size: 16px;
    margin-bottom: 20px;
}

// header
.stats__header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.stats__title {
    color: $blackTitle;
    font-size: 20px;
}


// stats
.stats {
    padding: 0 20px;
    margin-bottom: 50px;
}


.stats__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
}

// progress bar
.stats-progress {
    display: flex;
    justify-content: space-between;
}
.stats-progress + .stats-progress {
    margin-top: 20px;
}
.stats-progress__nutrient {
    font-size: 14px;
    color: $blackText;
}

.stats-progress__data {
    font-size: 12px;
    color: $grayMedium;
}
.stats-progress__data strong {
    font-size: 14px;
    color: $blackTitle;
    margin: 0 5px;
}
.stats-progress__placeholder {
    width: 180px;
    height: 4px;
    background: rgba($grayLight, .5);
    border-radius: 4px;
    overflow: hidden;
}
.stats__progress-bar {
    background: linear-gradient(to right, $blue, $green);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 2px 0 2px 0 rgba(#000, .2);
}


// info circle
.info-circle {
    display: flex;
}

.info-circle__left,
.info-circle__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-data {
    font-size: 14px;
    color: $blackText;
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.circle-data__menta {
    border-color: $green;
}
.circle-data__tomato {
    border-color: tomato;
}

.info-circle__name {
    color: $blackText;
}

.info-circle__name strong {
    display: inline-block;
    color: $blackTitle;
    margin-top: 10px;
}

@media screen and (min-width: 480px) {
    .stats__content {
        grid-template-columns: repeat(auto-fill, 420px);
    }
    .circle-data {
        font-size: 16px;
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 640px) {
    .stats__header {
        flex-direction: column;
        align-items: flex-start;
    }
    .stats__header__links {
        margin-top: 20px;
    }
}


@media screen and (max-width: 420px) {
    .stats__header__links {
        justify-content: center;
        align-items: center;
    }
}









