@import '../../assets/styles/abstracts/variables';
.error-msg {
    font-size: 14px;
    color:  tomato;
}
.login-register {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-register__form {
    width: 280px;
}
.login-register__logo {
    text-align: center;
}

.login-register__logo p {
    text-align: center;
    color: $blackTitle;
    font-size: 18px;
}

.login-register__logo span {
    text-align: left;
    color: $grayLight;
    margin-left: 5px;
}
.container__btn {
    text-align: center;
}

.container_input {
    margin-top: 20px;
}


// Links
.login-register__links {
    display: flex;
    justify-content: space-between;
}

.login-register__links a {
    text-decoration: none;
    color: $blue;
    font-size: 12px;
}

.login-register__links a:last-child {
    margin-left: auto;
}

.login-register__links a:hover {
    text-decoration: underline;
}


@media screen and(min-width: 560px) {
    .login-register__logo p {
        text-align: left;
    }
}