@import '../../assets/styles/abstracts/variables';
.table {
    color: $blackText;
    padding: 0 20px;
}

.table__msg {
    margin: 5px 0 50px 0;
}
.table__input {
    padding: 50px 100px;
}

.table__input--title {
    margin-bottom: 5px;
}

.ReactTable .rt-thead.-filters input {
    background: transparent;
    border-bottom: 1px solid gray;
    color: $blackTitle;
}

.ReactTable .rt-thead.-filters input:hover {
    background: rgba(#000, .1);
}
.ReactTable .rt-thead.-filters input:focus {
    border: none;
    border-bottom: 1px solid rgba($green, .7);    
}


.ReactTable .rt-thead.-filters:before {
    content: 'Busca tus simulaciones';
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background: rgba($blue, .95);
    opacity: 0;
    transition: ease-in-out .2s opacity;
}

.ReactTable .rt-thead.-filters:hover:before {
    opacity: 1;
}






.ReactTable .rt-table::-webkit-scrollbar {
    border-radius: 4px;
    background: $blackTitle;
    height: 6px;
}

.ReactTable .rt-table::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, $blue, $green);
    border-radius: 4px;
}

.rt-tr-group:nth-child(2n + 1) {
    background: rgba($black, .6);
}

.-btn {
    color: $blackText;
}

.ReactTable .-pagination select,
.ReactTable .-pagination .-pageJump input {
    background: transparent;
    color: gray;
}

.ReactTable .rt-thead.-headerGroups {
    background: rgba($blue, .1);
}
.ReactTable .rt-thead.-headerGroups .rt-th + .rt-th {
    border-left: 2px solid rgba($blue, .2);
}