$green: #4CCBAB;
$blue: #3E75C8;
$grayBlack: #B6B6B7;
$grayMedium: #D8D8D8;
$grayLight: #F2F2F2;

$lightBlue: #54D8FF;
$purple: #A3A0FB;

$black : #252733;
$blackLight : #292B38;
$blackTitle: #535565;
$blackText: #B6B6B7;
